/* Sass variables start with the $ sign, 
...that's about all that makes it different from LESS syntax :p */
/* Mock Up styles*/
/* line 4, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
* {
  box-sizing: border-box;
}

/* line 5, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.expandble:hover {
  color: inherit;
}

/* line 6, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.tree-list {
  font-size: 16px;
  font-family: 'Work Sans', sans-serif;
}

/* line 7, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.category-list {
  padding: 0px;
}

/* line 8, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.category-list ul {
  padding-left: 25px;
  padding-top: 10px;
}

/* line 9, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.category-list li {
  list-style: none;
  padding: 5px 0px;
}

/* line 10, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.category-list li a, .category-list li span {
  display: inline-block;
  margin-left: 10px;
}

/* line 11, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.category-list > li {
  background-color: #003366;
  border-top: solid 2px #fff;
  padding-right: 25px;
  color: #fff;
  padding-top: 10px;
}

/* line 12, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.category-list > li > a {
  color: #fff;
  margin-left: 10px;
  margin-bottom: 5px;
  display: inline-block;
}

/* line 13, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.category-list > li > ul > li {
  background-color: #eee;
  border-bottom: solid 4px #003366;
  padding-right: 25px;
  color: #333;
}

/* line 14, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.category-list > li > ul > li > a {
  color: #333;
}

/* line 15, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.category-list > li > ul > li > ul > li {
  background-color: #2b719a;
  border-bottom: solid 2px #fff;
  color: #fff;
}

/* line 16, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.category-list > li > ul > li > ul > li a {
  color: #fff;
}

/* line 17, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.category-list .fa.fa-pull-right {
  position: relative;
  top: 3px;
}

/* line 18, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.sub-list li {
  background-color: inherit !important;
  color: inherit !important;
  border-bottom: 0 !important;
}

/* line 19, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.fa-ul a {
  color: #333;
}

/* line 20, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.fa-ul a:hover {
  color: #428bca;
}

/* line 21, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.local-items {
  color: #C94230 !important;
}

/* line 22, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.list-group-listItem {
  padding: 0;
  border: 0;
}

/* line 23, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.panel-body {
  padding: 15px;
}

/* line 26, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.pHeading {
  background: #EEE;
  border: 1px solid #CCC;
  padding: 4px;
  line-height: 1.7em;
  word-wrap: break-word;
  font-family: "Segoe UI",Arial,Helvetica,sans-serif;
}

/* line 35, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.modal-body {
  font-size: 14px;
}

/* line 36, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.clearfix {
  clear: both;
}

/* line 37, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
#workdesk p {
  text-align: left;
}

/* line 38, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.heading {
  font-size: 18px;
}

/* line 39, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.list-group-alt {
  background-color: #f8f8f8;
}

/* line 41, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.pppBox {
  position: relative;
  float: right;
  top: -20px;
  right: -20px;
  display: block;
  padding: 5px 8px;
  font-size: 12px;
  color: #767676;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #e1e1e8;
  border-radius: 0 4px 0 4px;
  border-top-right-radius: 0;
}

/* line 57, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
input[type=checkbox], input[type=radio] {
  margin: 4px 0 0;
}

/* line 59, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
blockquote {
  margin-top: 0;
  margin-bottom: 0px;
  font-size: 15px;
}

/* line 61, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.mousy {
  cursor: pointer;
}

/* line 64, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.simon-message {
  background: #fff;
  border: 1px solid #3572b0;
  border-radius: 3px;
  color: #333;
  margin: 20px 0 0 0;
  overflow-wrap: break-word;
  padding: 20px 40px 20px 60px;
  position: relative;
  word-wrap: break-word;
  word-break: break-word;
}

/* line 76, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.simon-message:before {
  background-color: #3572b0;
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  top: 0;
  width: 40px;
}

/* line 85, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.simon-message:after {
  color: #fff;
  font-family: FontAwesome;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: 400;
  left: 12px;
  line-height: 1;
  margin-top: -8px;
  position: absolute;
  top: 50%;
}

/* line 98, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.simon-message-success {
  background: #fff;
  border-color: #8eb021;
  color: #333;
}

/* line 103, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.simon-message-success:before {
  background-color: #8eb021;
}

/* line 106, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.simon-message-success:after {
  content: "\f00c";
  color: #fff;
}

/* line 111, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.simon-message-danger {
  background: #fff;
  border-color: #d9534f;
  color: #333;
}

/* line 116, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.simon-message-danger:before {
  background-color: #d9534f;
}

/* line 119, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.simon-message-danger:after {
  content: "\f071";
  color: #fff;
  font-size: 18px;
}

/* line 125, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.simon-message-warning {
  background: #fff;
  border-color: #f0ad4e;
  color: #333;
}

/* line 130, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.simon-message-warning:before {
  background-color: #f0ad4e;
}

/* line 133, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.simon-message-warning:after {
  content: "\f05a";
  color: #fff;
  font-size: 20px;
  left: 11px;
}

/* line 140, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.text-success {
  color: #8eb021;
}

/* line 142, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.menu-bar {
  border: 1px solid #428bca;
  border-radius: 5px;
}

/* line 147, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.menu-bar .col-lg-1 {
  border-right: 1px solid rgba(0, 0, 0, 0.175);
}

/* line 153, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
body {
  background-color: #f8f8f8;
}

/* line 159, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
#wrapper {
  width: 100%;
}

/* line 163, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
#page-wrapper {
  padding: 0 15px;
  min-height: 568px;
  background-color: white;
}

@media (min-width: 768px) {
  /* line 170, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
  #page-wrapper {
    position: inherit;
    margin: 0 0 0 250px;
    padding: 0 30px;
    border-left: 1px solid #e7e7e7;
  }
}

/* line 182, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.navbar-top-links {
  margin-right: 0;
}

/* line 186, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.navbar-top-links li {
  display: inline-block;
}

/* line 190, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.navbar-top-links li:last-child {
  margin-right: 15px;
}

/* line 194, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.navbar-top-links li a {
  padding: 15px;
  min-height: 50px;
}

/* line 199, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.navbar-top-links .dropdown-menu li {
  display: block;
}

/* line 203, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.navbar-top-links .dropdown-menu li:last-child {
  margin-right: 0;
}

/* line 207, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.navbar-top-links .dropdown-menu li a {
  padding: 3px 20px;
  min-height: 0;
}

/* line 212, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.navbar-top-links .dropdown-menu li a div {
  white-space: normal;
}

/* line 216, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
  width: 310px;
  min-width: 0;
}

/* line 223, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.navbar-top-links .dropdown-messages {
  margin-left: 5px;
}

/* line 227, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.navbar-top-links .dropdown-tasks {
  margin-left: -59px;
}

/* line 231, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.navbar-top-links .dropdown-alerts {
  margin-left: -123px;
}

/* line 235, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.navbar-top-links .dropdown-user {
  right: 0;
  left: auto;
}

/* line 243, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.sidebar .sidebar-nav.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}

/* line 249, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.sidebar .sidebar-search {
  padding: 15px;
}

/* line 253, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.sidebar ul li {
  border-bottom: 1px solid #e7e7e7;
}

/* line 256, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.sidebar ul li a.active {
  background-color: #eeeeee;
}

/* line 262, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.sidebar .arrow {
  float: right;
}

/* line 266, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.sidebar .fa.arrow:before {
  content: "\f104";
}

/* line 270, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.sidebar .active > a > .fa.arrow:before {
  content: "\f107";
}

/* line 274, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
  border-bottom: none !important;
}

/* line 279, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.sidebar .nav-second-level li a {
  padding-left: 37px;
}

/* line 283, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.sidebar .nav-third-level li a {
  padding-left: 52px;
}

@media (min-width: 768px) {
  /* line 288, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
  .sidebar {
    z-index: 1;
    position: absolute;
    width: 250px;
    margin-top: 51px;
  }
  /* line 295, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
  .navbar-top-links .dropdown-messages,
  .navbar-top-links .dropdown-tasks,
  .navbar-top-links .dropdown-alerts {
    margin-left: auto;
  }
}

/* line 304, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.btn-outline {
  color: inherit;
  background-color: transparent;
  transition: all .5s;
}

/* line 310, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.btn-primary.btn-outline {
  color: #428bca;
}

/* line 314, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.btn-success.btn-outline {
  color: #8eb021;
}

/* line 318, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.btn-info.btn-outline {
  color: #5bc0de;
}

/* line 322, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.btn-warning.btn-outline {
  color: #f0ad4e;
}

/* line 326, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.btn-danger.btn-outline {
  color: #d9534f;
}

/* line 330, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: white;
}

/* line 340, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.chat {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 346, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.chat li {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #999999;
}

/* line 352, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.chat li.left .chat-body {
  margin-left: 60px;
}

/* line 356, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.chat li.right .chat-body {
  margin-right: 60px;
}

/* line 360, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.chat li .chat-body p {
  margin: 0;
}

/* line 364, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.panel .slidedown .glyphicon,
.chat .glyphicon {
  margin-right: 5px;
}

/* line 369, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.chat-panel .panel-body {
  height: 350px;
  overflow-y: scroll;
}

/* line 376, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.login-panel {
  margin-top: 25%;
}

/* line 382, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.flot-chart {
  display: block;
  height: 400px;
}

/* line 387, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.flot-chart-content {
  width: 100%;
  height: 100%;
}

/* line 394, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  background: transparent;
}

/* line 402, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
table.dataTable thead .sorting_asc:after {
  content: "\f0de";
  float: right;
  font-family: fontawesome;
}

/* line 408, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
table.dataTable thead .sorting_desc:after {
  content: "\f0dd";
  float: right;
  font-family: fontawesome;
}

/* line 414, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
table.dataTable thead .sorting:after {
  content: "\f0dc";
  float: right;
  font-family: fontawesome;
  color: rgba(50, 50, 50, 0.5);
}

/* line 423, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.428571429;
}

/* line 433, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  border-radius: 25px;
  font-size: 18px;
  line-height: 1.33;
}

/* line 442, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}

/* line 453, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.show-grid [class^="col-"] {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #ddd;
  background-color: #eee !important;
}

/* line 460, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.show-grid {
  margin: 15px 0;
}

/* line 466, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.huge {
  font-size: 40px;
}

/* line 470, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.panel-green {
  border-color: #8eb021;
}

/* line 472, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.panel-green > .panel-heading {
  border-color: #8eb021;
  color: white;
  background-color: #8eb021;
}

/* line 477, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.panel-green > a {
  color: #8eb021;
}

/* line 479, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.panel-green > a:hover {
  color: #5a7015;
}

/* line 485, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.panel-red {
  border-color: #d9534f;
}

/* line 487, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.panel-red > .panel-heading {
  border-color: #d9534f;
  color: white;
  background-color: #d9534f;
}

/* line 492, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.panel-red > a {
  color: #d9534f;
}

/* line 494, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.panel-red > a:hover {
  color: #b52b27;
}

/* line 500, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.panel-yellow {
  border-color: #f0ad4e;
}

/* line 502, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.panel-yellow > .panel-heading {
  border-color: #f0ad4e;
  color: white;
  background-color: #f0ad4e;
}

/* line 507, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.panel-yellow > a {
  color: #f0ad4e;
}

/* line 509, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.panel-yellow > a:hover {
  color: #df8a13;
}

/* line 516, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.timeline {
  position: relative;
  padding: 20px 0 20px;
  list-style: none;
}

/* line 522, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.timeline:before {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 3px;
  margin-left: -1.5px;
  background-color: #eeeeee;
}

/* line 533, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.timeline > li {
  position: relative;
  margin-bottom: 20px;
}

/* line 538, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

/* line 544, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.timeline > li:after {
  clear: both;
}

/* line 548, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

/* line 554, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.timeline > li:after {
  clear: both;
}

/* line 558, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.timeline > li > .timeline-panel {
  float: left;
  position: relative;
  width: 46%;
  padding: 20px;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

/* line 569, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.timeline > li > .timeline-panel:before {
  content: " ";
  display: inline-block;
  position: absolute;
  top: 26px;
  right: -15px;
  border-top: 15px solid transparent;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #ccc;
}

/* line 581, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.timeline > li > .timeline-panel:after {
  content: " ";
  display: inline-block;
  position: absolute;
  top: 27px;
  right: -14px;
  border-top: 14px solid transparent;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  border-left: 14px solid #fff;
}

/* line 593, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.timeline > li > .timeline-badge {
  z-index: 100;
  position: absolute;
  top: 16px;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-left: -25px;
  border-radius: 50% 50% 50% 50%;
  text-align: center;
  font-size: 1.4em;
  line-height: 50px;
  color: #fff;
  background-color: #999999;
}

/* line 609, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}

/* line 613, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

/* line 620, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

/* line 627, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.timeline-badge.primary {
  background-color: #2e6da4 !important;
}

/* line 631, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.timeline-badge.success {
  background-color: #3f903f !important;
}

/* line 635, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.timeline-badge.warning {
  background-color: #f0ad4e !important;
}

/* line 639, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.timeline-badge.danger {
  background-color: #d9534f !important;
}

/* line 643, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.timeline-badge.info {
  background-color: #5bc0de !important;
}

/* line 647, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.timeline-title {
  margin-top: 0;
  color: inherit;
}

/* line 652, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

/* line 657, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.timeline-body > p + p {
  margin-top: 5px;
}

@media (max-width: 767px) {
  /* line 662, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
  ul.timeline:before {
    left: 40px;
  }
  /* line 666, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
  ul.timeline > li > .timeline-panel {
    width: calc(100% - 90px);
    width: -moz-calc(100% - 90px);
    width: -webkit-calc(100% - 90px);
  }
  /* line 672, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
  ul.timeline > li > .timeline-badge {
    top: 16px;
    left: 15px;
    margin-left: 0;
  }
  /* line 678, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
  ul.timeline > li > .timeline-panel {
    float: right;
  }
  /* line 682, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
  ul.timeline > li > .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
  }
  /* line 689, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
  ul.timeline > li > .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
  }
}

/* Wireframe DEMO Classes */
/* line 698, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.navbar-inverse {
  background-color: #22517a;
  color: #7a4b22;
}

/* line 699, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.navbar-inverse p {
  color: #ddae85;
}

/* line 700, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.navbar-top-links li a {
  color: #fff;
}

/* line 701, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.navbar-top-links li a:hover, .navbar-top-links li a:active, .navbar-top-links li a:focus {
  background-color: #3572b0;
}

/* line 702, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.navbar-top-links .dropdown-menu li a {
  color: #333;
}

/* line 703, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
  background-color: #3572b0;
}

/* line 704, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.myalert {
  padding: 10px 10px 10px 36px;
  position: relative;
}

/* line 705, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.myalert-icon {
  display: block;
  left: 10px;
  line-height: 20px;
  position: absolute;
  top: 12px;
  vertical-align: text-bottom;
  font-size: 16px;
}

/* line 706, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.alert-dismissible .close {
  right: 0px;
}

/* line 707, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
#page-wrapper {
  padding-bottom: 10px;
}

/* line 708, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.alert-dismissable .close, .alert-dismissible .close {
  position: unset;
}

/* line 709, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.callout {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #eee;
  border-image: none;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px 1px 1px 5px;
  margin: 20px 0;
  padding: 20px;
}

/* line 722, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.callout h4 {
  margin-bottom: 5px;
  margin-top: 0;
}

/* line 723, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.callout p:last-child {
  margin-bottom: 0;
}

/* line 725, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.callout-warning {
  border-left-color: #aa6708;
}

/* line 726, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.callout-warning h4 {
  color: #aa6708;
}

/* line 727, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.callout-danger {
  border-left-color: #ce4844;
}

/* line 728, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.callout-danger h4 {
  color: #ce4844;
}

/* line 729, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.callout-info {
  border-left-color: #1b809e;
}

/* line 730, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.callout-info h4 {
  color: #1b809e;
}

/* line 731, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.callout-success {
  border-left-color: #8eb021;
}

/* line 732, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.callout-success h4 {
  color: #8eb021;
}

/* line 733, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.large {
  font-size: 21px;
}

/*# sourceMappingURL=../css/main.map */