/* Sass variables start with the $ sign, 
...that's about all that makes it different from LESS syntax :p */
/* line 6, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
body {
  background-color: #f8f8f8;
}

/* line 12, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
#wrapper {
  width: 100%;
}

/* line 16, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
#page-wrapper {
  padding: 0 15px;
  min-height: 568px;
  background-color: white;
}

@media (min-width: 768px) {
  /* line 23, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
  #page-wrapper {
    position: inherit;
    margin: 0 0 0 250px;
    padding: 0 30px;
    border-left: 1px solid #e7e7e7;
  }
}

/* line 35, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.navbar-top-links {
  margin-right: 0;
}

/* line 39, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.navbar-top-links li {
  display: inline-block;
}

/* line 43, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.navbar-top-links li:last-child {
  margin-right: 15px;
}

/* line 47, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.navbar-top-links li a {
  padding: 15px;
  min-height: 50px;
}

/* line 52, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.navbar-top-links .dropdown-menu li {
  display: block;
}

/* line 56, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.navbar-top-links .dropdown-menu li:last-child {
  margin-right: 0;
}

/* line 60, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.navbar-top-links .dropdown-menu li a {
  padding: 3px 20px;
  min-height: 0;
}

/* line 65, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.navbar-top-links .dropdown-menu li a div {
  white-space: normal;
}

/* line 69, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
  width: 310px;
  min-width: 0;
}

/* line 76, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.navbar-top-links .dropdown-messages {
  margin-left: 5px;
}

/* line 80, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.navbar-top-links .dropdown-tasks {
  margin-left: -59px;
}

/* line 84, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.navbar-top-links .dropdown-alerts {
  margin-left: -123px;
}

/* line 88, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.navbar-top-links .dropdown-user {
  right: 0;
  left: auto;
}

/* line 96, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.sidebar .sidebar-nav.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}

/* line 102, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.sidebar .sidebar-search {
  padding: 15px;
}

/* line 106, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.sidebar ul li {
  border-bottom: 1px solid #e7e7e7;
}

/* line 109, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.sidebar ul li a.active {
  background-color: #eeeeee;
}

/* line 115, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.sidebar .arrow {
  float: right;
}

/* line 119, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.sidebar .fa.arrow:before {
  content: "\f104";
}

/* line 123, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.sidebar .active > a > .fa.arrow:before {
  content: "\f107";
}

/* line 127, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
  border-bottom: none !important;
}

/* line 132, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.sidebar .nav-second-level li a {
  padding-left: 37px;
}

/* line 136, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.sidebar .nav-third-level li a {
  padding-left: 52px;
}

@media (min-width: 768px) {
  /* line 141, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
  .sidebar {
    z-index: 1;
    position: absolute;
    width: 250px;
    margin-top: 51px;
  }
  /* line 148, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
  .navbar-top-links .dropdown-messages,
  .navbar-top-links .dropdown-tasks,
  .navbar-top-links .dropdown-alerts {
    margin-left: auto;
  }
}

/* line 157, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.btn-outline {
  color: inherit;
  background-color: transparent;
  transition: all .5s;
}

/* line 163, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.btn-primary.btn-outline {
  color: #428bca;
}

/* line 167, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.btn-success.btn-outline {
  color: #5cb85c;
}

/* line 171, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.btn-info.btn-outline {
  color: #5bc0de;
}

/* line 175, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.btn-warning.btn-outline {
  color: #f0ad4e;
}

/* line 179, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.btn-danger.btn-outline {
  color: #d9534f;
}

/* line 183, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: white;
}

/* line 193, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.chat {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 199, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.chat li {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #999999;
}

/* line 205, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.chat li.left .chat-body {
  margin-left: 60px;
}

/* line 209, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.chat li.right .chat-body {
  margin-right: 60px;
}

/* line 213, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.chat li .chat-body p {
  margin: 0;
}

/* line 217, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.panel .slidedown .glyphicon,
.chat .glyphicon {
  margin-right: 5px;
}

/* line 222, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.chat-panel .panel-body {
  height: 350px;
  overflow-y: scroll;
}

/* line 229, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.login-panel {
  margin-top: 25%;
}

/* line 235, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.flot-chart {
  display: block;
  height: 400px;
}

/* line 240, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.flot-chart-content {
  width: 100%;
  height: 100%;
}

/* line 247, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  background: transparent;
}

/* line 255, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
table.dataTable thead .sorting_asc:after {
  content: "\f0de";
  float: right;
  font-family: fontawesome;
}

/* line 261, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
table.dataTable thead .sorting_desc:after {
  content: "\f0dd";
  float: right;
  font-family: fontawesome;
}

/* line 267, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
table.dataTable thead .sorting:after {
  content: "\f0dc";
  float: right;
  font-family: fontawesome;
  color: rgba(50, 50, 50, 0.5);
}

/* line 276, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.428571429;
}

/* line 286, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  border-radius: 25px;
  font-size: 18px;
  line-height: 1.33;
}

/* line 295, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}

/* line 306, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.show-grid [class^="col-"] {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #ddd;
  background-color: #eee !important;
}

/* line 313, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.show-grid {
  margin: 15px 0;
}

/* line 319, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.huge {
  font-size: 40px;
}

/* line 323, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.panel-green {
  border-color: #5cb85c;
}

/* line 325, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.panel-green > .panel-heading {
  border-color: #5cb85c;
  color: white;
  background-color: #5cb85c;
}

/* line 330, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.panel-green > a {
  color: #5cb85c;
}

/* line 332, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.panel-green > a:hover {
  color: #3d8b3d;
}

/* line 338, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.panel-red {
  border-color: #d9534f;
}

/* line 340, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.panel-red > .panel-heading {
  border-color: #d9534f;
  color: white;
  background-color: #d9534f;
}

/* line 345, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.panel-red > a {
  color: #d9534f;
}

/* line 347, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.panel-red > a:hover {
  color: #b52b27;
}

/* line 353, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.panel-yellow {
  border-color: #f0ad4e;
}

/* line 355, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.panel-yellow > .panel-heading {
  border-color: #f0ad4e;
  color: white;
  background-color: #f0ad4e;
}

/* line 360, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.panel-yellow > a {
  color: #f0ad4e;
}

/* line 362, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.panel-yellow > a:hover {
  color: #df8a13;
}

/* line 369, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.timeline {
  position: relative;
  padding: 20px 0 20px;
  list-style: none;
}

/* line 375, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.timeline:before {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 3px;
  margin-left: -1.5px;
  background-color: #eeeeee;
}

/* line 386, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.timeline > li {
  position: relative;
  margin-bottom: 20px;
}

/* line 391, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

/* line 397, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.timeline > li:after {
  clear: both;
}

/* line 401, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

/* line 407, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.timeline > li:after {
  clear: both;
}

/* line 411, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.timeline > li > .timeline-panel {
  float: left;
  position: relative;
  width: 46%;
  padding: 20px;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

/* line 422, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.timeline > li > .timeline-panel:before {
  content: " ";
  display: inline-block;
  position: absolute;
  top: 26px;
  right: -15px;
  border-top: 15px solid transparent;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #ccc;
}

/* line 434, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.timeline > li > .timeline-panel:after {
  content: " ";
  display: inline-block;
  position: absolute;
  top: 27px;
  right: -14px;
  border-top: 14px solid transparent;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  border-left: 14px solid #fff;
}

/* line 446, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.timeline > li > .timeline-badge {
  z-index: 100;
  position: absolute;
  top: 16px;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-left: -25px;
  border-radius: 50% 50% 50% 50%;
  text-align: center;
  font-size: 1.4em;
  line-height: 50px;
  color: #fff;
  background-color: #999999;
}

/* line 462, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}

/* line 466, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

/* line 473, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

/* line 480, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.timeline-badge.primary {
  background-color: #2e6da4 !important;
}

/* line 484, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.timeline-badge.success {
  background-color: #3f903f !important;
}

/* line 488, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.timeline-badge.warning {
  background-color: #f0ad4e !important;
}

/* line 492, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.timeline-badge.danger {
  background-color: #d9534f !important;
}

/* line 496, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.timeline-badge.info {
  background-color: #5bc0de !important;
}

/* line 500, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.timeline-title {
  margin-top: 0;
  color: inherit;
}

/* line 505, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

/* line 510, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.timeline-body > p + p {
  margin-top: 5px;
}

@media (max-width: 767px) {
  /* line 515, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
  ul.timeline:before {
    left: 40px;
  }
  /* line 519, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
  ul.timeline > li > .timeline-panel {
    width: calc(100% - 90px);
    width: -moz-calc(100% - 90px);
    width: -webkit-calc(100% - 90px);
  }
  /* line 525, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
  ul.timeline > li > .timeline-badge {
    top: 16px;
    left: 15px;
    margin-left: 0;
  }
  /* line 531, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
  ul.timeline > li > .timeline-panel {
    float: right;
  }
  /* line 535, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
  ul.timeline > li > .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
  }
  /* line 542, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
  ul.timeline > li > .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
  }
}

/* Wireframe DEMO Classes */
/* line 551, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.navbar-inverse {
  background-color: #22517a;
  color: #7a4b22;
}

/* line 552, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.navbar-inverse p {
  color: #ddae85;
}

/* line 553, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.navbar-top-links li a {
  color: #fff;
}

/* line 554, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.navbar-top-links li a:hover, .navbar-top-links li a:active, .navbar-top-links li a:focus {
  background-color: #3572b0;
}

/* line 555, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.navbar-top-links .dropdown-menu li a {
  color: #333;
}

/* line 556, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
  background-color: #3572b0;
}

/* line 557, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.myalert {
  padding: 10px 10px 10px 36px;
  position: relative;
}

/* line 558, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.myalert-icon {
  display: block;
  left: 10px;
  line-height: 20px;
  position: absolute;
  top: 12px;
  vertical-align: text-bottom;
  font-size: 16px;
}

/* line 559, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.alert-dismissible .close {
  right: 0px;
}

/* line 560, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
#page-wrapper {
  padding-bottom: 10px;
}

/* line 561, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.alert-dismissable .close, .alert-dismissible .close {
  position: unset;
}

/* line 562, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.callout {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #eee;
  border-image: none;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px 1px 1px 5px;
  margin: 20px 0;
  padding: 20px;
}

/* line 575, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.callout h4 {
  margin-bottom: 5px;
  margin-top: 0;
}

/* line 576, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.callout p:last-child {
  margin-bottom: 0;
}

/* line 578, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.callout-warning {
  border-left-color: #aa6708;
}

/* line 579, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.callout-warning h4 {
  color: #aa6708;
}

/* line 580, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.callout-danger {
  border-left-color: #ce4844;
}

/* line 581, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.callout-danger h4 {
  color: #ce4844;
}

/* line 582, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.callout-info {
  border-left-color: #1b809e;
}

/* line 583, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.callout-info h4 {
  color: #1b809e;
}

/* line 584, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.large {
  font-size: 21px;
}

/* line 585, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.schoolItems {
  color: forestgreen;
}

/* line 586, C:/inetpub/wwwroot/Dashboard Demo/sass/main.scss */
.schoolItems:hover {
  color: red;
}

/*# sourceMappingURL=../css/main.map */